.profile__text {
    max-width: 336px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    grid-area: text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}