.popup__close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close.svg);
    background-color: transparent;
    background-position: center;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    border: none;
}